openapi: 3.2.0
info:
  title: NeueHouse Content API (WordPress REST) Users API
  version: wp/v2
  description: 'The public content API NeueHouse serves from its own host at https://www.neuehouse.com/wp-json/. NeueHouse runs its site on WordPress, and the WordPress REST API is exposed and answering anonymously: the route index at /wp-json/ is a live, machine-readable contract declaring 313 routes across 16 namespaces, of which the wp/v2 and oembed/1.0 namespaces below are the publicly readable content surface (pages, media, taxonomies, block types, search, oEmbed). Read operations on published content are anonymous; every write operation requires an authenticated WordPress user, so the write half of this contract is documented but not open. This document was mechanically derived from the provider''s own live route index — argument names, types, enums, defaults and required flags are copied from it verbatim. NeueHouse does not publish an OpenAPI definition itself.'
  contact:
    name: NeueHouse
    url: https://www.neuehouse.com/contact-us/
  termsOfService: https://www.neuehouse.com/terms-conditions/
  x-derived-from: https://www.neuehouse.com/wp-json/
  x-derivation-method: derived
  x-upstream-specification: https://developer.wordpress.org/rest-api/
servers:
- url: https://www.neuehouse.com/wp-json
  description: NeueHouse WordPress REST API root.
tags:
- name: users
  description: WordPress REST `users` resource on www.neuehouse.com.
paths:
  /wp/v2/users:
    get:
      operationId: get_wp_v2_users
      summary: GET /wp/v2/users
      description: '`GET /wp/v2/users` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - registered_date
          - slug
          - include_slugs
          - email
          - url
          default: name
        description: Sort collection by user attribute.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to users with one or more specific slugs.
      - name: roles
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to users matching at least one specific role provided. Accepts csv list or single role.
      - name: capabilities
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to users matching at least one specific capability provided. Accepts csv list or single capability.
      - name: who
        in: query
        required: false
        schema:
          type: string
          enum:
          - authors
        description: Limit result set to users who are considered authors.
      - name: has_published_posts
        in: query
        required: false
        schema:
          type: boolean
        description: Limit result set to users who have published posts.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
        description: Array of column names to be searched.
    post:
      operationId: post_wp_v2_users
      summary: POST /wp/v2/users
      description: '`POST /wp/v2/users` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Login name for the user.
                name:
                  type: string
                  description: Display name for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                description:
                  type: string
                  description: Description of the user.
                locale:
                  type: string
                  enum:
                  - ''
                  - en_US
                  description: Locale for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                password:
                  type: string
                  description: Password for the user (never included).
                meta:
                  type: object
                  description: Meta fields.
              required:
              - username
              - email
              - password
      security:
      - applicationPassword: []
  /wp/v2/users/me:
    get:
      operationId: get_wp_v2_users_me
      summary: GET /wp/v2/users/me
      description: '`GET /wp/v2/users/me` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: post_wp_v2_users_me
      summary: POST /wp/v2/users/me
      description: '`POST /wp/v2/users/me` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Login name for the user.
                name:
                  type: string
                  description: Display name for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                description:
                  type: string
                  description: Description of the user.
                locale:
                  type: string
                  enum:
                  - ''
                  - en_US
                  description: Locale for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                password:
                  type: string
                  description: Password for the user (never included).
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
    put:
      operationId: put_wp_v2_users_me
      summary: PUT /wp/v2/users/me
      description: '`PUT /wp/v2/users/me` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Login name for the user.
                name:
                  type: string
                  description: Display name for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                description:
                  type: string
                  description: Description of the user.
                locale:
                  type: string
                  enum:
                  - ''
                  - en_US
                  description: Locale for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                password:
                  type: string
                  description: Password for the user (never included).
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
    patch:
      operationId: patch_wp_v2_users_me
      summary: PATCH /wp/v2/users/me
      description: '`PATCH /wp/v2/users/me` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Login name for the user.
                name:
                  type: string
                  description: Display name for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                description:
                  type: string
                  description: Description of the user.
                locale:
                  type: string
                  enum:
                  - ''
                  - en_US
                  description: Locale for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                password:
                  type: string
                  description: Password for the user (never included).
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
    delete:
      operationId: delete_wp_v2_users_me
      summary: DELETE /wp/v2/users/me
      description: '`DELETE /wp/v2/users/me` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as users do not support trashing.
      - name: reassign
        in: query
        required: true
        schema:
          type: integer
        description: Reassign the deleted user's posts and links to this user ID.
  /wp/v2/users/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path parameter `id` as declared by the live route index.
    get:
      operationId: get_wp_v2_users_by_id
      summary: GET /wp/v2/users/{id}
      description: '`GET /wp/v2/users/{id}` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: post_wp_v2_users_by_id
      summary: POST /wp/v2/users/{id}
      description: '`POST /wp/v2/users/{id}` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Login name for the user.
                name:
                  type: string
                  description: Display name for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                description:
                  type: string
                  description: Description of the user.
                locale:
                  type: string
                  enum:
                  - ''
                  - en_US
                  description: Locale for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                password:
                  type: string
                  description: Password for the user (never included).
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
    put:
      operationId: put_wp_v2_users_by_id
      summary: PUT /wp/v2/users/{id}
      description: '`PUT /wp/v2/users/{id}` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Login name for the user.
                name:
                  type: string
                  description: Display name for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                description:
                  type: string
                  description: Description of the user.
                locale:
                  type: string
                  enum:
                  - ''
                  - en_US
                  description: Locale for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                password:
                  type: string
                  description: Password for the user (never included).
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
    patch:
      operationId: patch_wp_v2_users_by_id
      summary: PATCH /wp/v2/users/{id}
      description: '`PATCH /wp/v2/users/{id}` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Login name for the user.
                name:
                  type: string
                  description: Display name for the user.
                first_name:
                  type: string
                  description: First name for the user.
                last_name:
                  type: string
                  description: Last name for the user.
                email:
                  type: string
                  format: email
                  description: The email address for the user.
                url:
                  type: string
                  format: uri
                  description: URL of the user.
                description:
                  type: string
                  description: Description of the user.
                locale:
                  type: string
                  enum:
                  - ''
                  - en_US
                  description: Locale for the user.
                nickname:
                  type: string
                  description: The nickname for the user.
                slug:
                  type: string
                  description: An alphanumeric identifier for the user.
                roles:
                  type: array
                  items:
                    type: string
                  description: Roles assigned to the user.
                password:
                  type: string
                  description: Password for the user (never included).
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
    delete:
      operationId: delete_wp_v2_users_by_id
      summary: DELETE /wp/v2/users/{id}
      description: '`DELETE /wp/v2/users/{id}` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as users do not support trashing.
      - name: reassign
        in: query
        required: true
        schema:
          type: integer
        description: Reassign the deleted user's posts and links to this user ID.
  /wp/v2/users/{user_id})/application-passwords:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
      description: Path parameter `user_id` as declared by the live route index.
    get:
      operationId: get_wp_v2_users_by_user_id_application_passwords
      summary: GET /wp/v2/users/{user_id})/application-passwords
      description: '`GET /wp/v2/users/{user_id})/application-passwords` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: post_wp_v2_users_by_user_id_application_passwords
      summary: POST /wp/v2/users/{user_id})/application-passwords
      description: '`POST /wp/v2/users/{user_id})/application-passwords` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app_id:
                  type: string
                  description: A UUID provided by the application to uniquely identify it. It is recommended to use an UUID v5 with the URL or DNS namespace.
                name:
                  type: string
                  description: The name of the application password.
              required:
              - name
      security:
      - applicationPassword: []
    delete:
      operationId: delete_wp_v2_users_by_user_id_application_passwords
      summary: DELETE /wp/v2/users/{user_id})/application-passwords
      description: '`DELETE /wp/v2/users/{user_id})/application-passwords` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp/v2/users/{user_id})/application-passwords/introspect:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
      description: Path parameter `user_id` as declared by the live route index.
    get:
      operationId: get_wp_v2_users_by_user_id_application_passwords_introspect
      summary: GET /wp/v2/users/{user_id})/application-passwords/introspect
      description: '`GET /wp/v2/users/{user_id})/application-passwords/introspect` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
  /wp/v2/users/{user_id})/application-passwords/{uuid}:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
      description: Path parameter `user_id` as declared by the live route index.
    - name: uuid
      in: path
      required: true
      schema:
        type: string
      description: Path parameter `uuid` as declared by the live route index.
    get:
      operationId: get_wp_v2_users_by_user_id_application_passwords_by_uuid
      summary: GET /wp/v2/users/{user_id})/application-passwords/{uuid}
      description: '`GET /wp/v2/users/{user_id})/application-passwords/{uuid}` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: post_wp_v2_users_by_user_id_application_passwords_by_uuid
      summary: POST /wp/v2/users/{user_id})/application-passwords/{uuid}
      description: '`POST /wp/v2/users/{user_id})/application-passwords/{uuid}` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                app_id:
                  type: string
                  description: A UUID provided by the application to uniquely identify it. It is recommended to use an UUID v5 with the URL or DNS namespace.
                name:
                  type: string
                  description: The name of the application password.
      security:
      - applicationPassword: []
    put:
      operationId: put_wp_v2_users_by_user_id_application_passwords_by_uuid
      summary: PUT /wp/v2/users/{user_id})/application-passwords/{uuid}
      description: '`PUT /wp/v2/users/{user_id})/application-passwords/{uuid}` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                app_id:
                  type: string
                  description: A UUID provided by the application to uniquely identify it. It is recommended to use an UUID v5 with the URL or DNS namespace.
                name:
                  type: string
                  description: The name of the application password.
      security:
      - applicationPassword: []
    patch:
      operationId: patch_wp_v2_users_by_user_id_application_passwords_by_uuid
      summary: PATCH /wp/v2/users/{user_id})/application-passwords/{uuid}
      description: '`PATCH /wp/v2/users/{user_id})/application-passwords/{uuid}` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                app_id:
                  type: string
                  description: A UUID provided by the application to uniquely identify it. It is recommended to use an UUID v5 with the URL or DNS namespace.
                name:
                  type: string
                  description: The name of the application password.
      security:
      - applicationPassword: []
    delete:
      operationId: delete_wp_v2_users_by_user_id_application_passwords_by_uuid
      summary: DELETE /wp/v2/users/{user_id})/application-passwords/{uuid}
      description: '`DELETE /wp/v2/users/{user_id})/application-passwords/{uuid}` as declared by the NeueHouse WordPress REST route index at https://www.neuehouse.com/wp-json/. Argument names, defaults, enums and required flags below are copied verbatim from that index.'
      tags:
      - users
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request — WordPress returns a `rest_invalid_param` error object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: Authentication required — WordPress returns `rest_not_logged_in` / `rest_cannot_*`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: Forbidden — the authenticated user lacks the capability (`rest_forbidden`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: Not found — `rest_no_route` or `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
components:
  schemas:
    RestError:
      type: object
      description: The standard WordPress REST error envelope returned on every 4xx/5xx.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_no_route.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          description: Error data; carries `status` (the HTTP status) and, for validation errors, `params` and `details`.
          properties:
            status:
              type: integer
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords. The live route index advertises authentication.application-passwords with an authorization endpoint at https://www.neuehouse.com/wp-admin/authorize-application.php. Credentials are issued per WordPress user from wp-admin; there is no public self-service registration.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: Cookie authentication with an X-WP-Nonce header, used by first-party browser clients only.
